xlrd
pandas
numpy<2.0

## Agent Workflow and Pipeline
langgraph
langsmith
langchain-core
langchain-xai
langchain-openai
langchain-ollama
langchain-community

## Vectors
chromadb 
sentence-transformers